[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = ">=3.1.0"
sqlalchemy = ">=2.0.0"
flask = "*"
psycopg2-binary = "*"
python-dotenv = "*"
flask-bcrypt = "*"
flask-restful = "*"
pytest = "*"
path = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
typing = "*"
bcrypt-flask = "*"
pyjwt = "*"
flask-migrate = "*"
alembic = "*"
base = "*"

[dev-packages]

[requires]
python_version = "3.10"
